version: '3.8'

services:

  php:
    build: ./backend
    container_name: php_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_management
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  react:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - php

volumes:
  db_data:
